{:min-bb-version "0.5.1"
 :tasks
 {yarn-install
  {:doc "Installs and updates npm dependencies"
   :task (shell "yarn install")}

  build-esm
  {:doc "Builds the ESM JS module file for the markdown module"
   :task (shell "./node_modules/.bin/esbuild src/js/markdown.js --bundle --minify --outfile=resources/js/markdown.mjs --format=esm")
   :depends [yarn-install]}

  test
  {:doc "runs tests in the markdown module"
   :depends [build-esm]
   :task (clojure "-X:test")}

  cljs:compile:tests
  {:doc "compiles tests as node executable"
   :depends [yarn-install]
   :task (clojure "-M:cljs-test compile test")}

  test:cljs:browser
  {:doc "runs cljs tests in the browsr"
   :task (clojure "-M:cljs-test watch browser-test")}

  test:cljs
  {:doc "runs cljs tests via node"
   :depends [cljs:compile:tests]
   :task (shell "yarn node --trace-uncaught out/node-tests.js")}}}
