{:paths ["src" "resources"]
 :deps {applied-science/js-interop {:mvn/version "0.3.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.graalvm.js/js {:mvn/version "22.3.1"}}

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["notebooks"]
   :extra-deps {io.github.nextjournal/clerk {:git/sha "b8f04651a2739fea5a4f3ee62e9205f40ff53c6d"
                                             :exclusions [io.github.nextjournal/markdown]}}
   :jvm-opts ["-Dclojure.main.report=stderr"
              "-Dclerk.resource_manifest={\"/js/viewer.js\" \"js/viewer.js\"}"] ;;
   :exec-fn nextjournal.clerk/build!
   :exec-args {:git/url "https://github.com/nextjournal/markdown"
               :browse? false
               :compile-css? true
               :paths ["README.md"
                       "CHANGELOG.md"
                       "notebooks/try.clj"
                       "notebooks/pandoc.clj"
                       "notebooks/parsing_extensibility.clj"
                       "notebooks/benchmarks.clj"
                       "notebooks/tight_lists.clj"]}}

  :quiet
  {:jvm-opts ["-Dpolyglot.engine.WarnInterpreterOnly=false"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {nubank/matcher-combinators {:mvn/version "3.8.3"}}
   :exec-fn test-runner/run}

  :cljs-test
  {:extra-paths ["test"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}
                nubank/matcher-combinators {:mvn/version "3.8.3"}}}

  :sci
  {:extra-paths ["sci"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"http://localhost:8021/viewer.js\"}"]
   :extra-deps {io.github.nextjournal/clerk.render {:git/url "https://github.com/nextjournal/clerk"
                                                    :git/sha "e6b5d108bbcc00096b08b17f6468702dd62d36db"
                                                    :deps/root "render"}}}

  :build
  {:ns-default build
   :deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
          io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}}}}}
