{:paths ["src" "resources" "classes"]
 :mvn/repos {"jitpack.io" {:url "https://jitpack.io"}}
 :deps {applied-science/js-interop {:mvn/version "0.3.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}

        ;; commonmark
        org.commonmark/commonmark {:mvn/version "0.23.0"}
        org.commonmark/commonmark-ext-footnotes {:mvn/version "0.23.0"}
        org.commonmark/commonmark-ext-task-list-items {:mvn/version "0.23.0"}
        org.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.23.0"}
        org.commonmark/commonmark-ext-gfm-strikethrough {:mvn/version "0.23.0"}

        ;; use jitpack until release
        ;;com.github.commonmark/commonmark-java {:mvn/version "faea2a2a61cfa1b1f26a4e914532b651b3602e34"}
        ;;com.github.commonmark.commonmark-java/commonmark-ext-task-list-items {:mvn/version "faea2a2a61cfa1b1f26a4e914532b651b3602e34"}
        ;;com.github.commonmark.commonmark-java/commonmark-ext-gfm-tables {:mvn/version "faea2a2a61cfa1b1f26a4e914532b651b3602e34"}
        ;;com.github.commonmark.commonmark-java/commonmark-ext-gfm-strikethrough {:mvn/version "faea2a2a61cfa1b1f26a4e914532b651b3602e34"}
        }

 :aliases
 {:nextjournal/clerk
  {:extra-paths ["notebooks" "dev"]
   :extra-deps {io.github.nextjournal/clerk {:git/sha "04efbaf0954f577071d02cda65883c2fe2279502"
                                             :exclusions [io.github.nextjournal/markdown]}}
   :jvm-opts ["-Dclojure.main.report=stderr"
              "-Dclerk.resource_manifest={\"/js/viewer.js\" \"js/viewer.js\"}"] ;;
   :exec-fn nextjournal.clerk/build!
   :exec-args {:git/url "https://github.com/nextjournal/markdown"
               :paths ["README.md"
                       "CHANGELOG.md"
                       "notebooks/try.clj"
                       "notebooks/images.clj"
                       "notebooks/pandoc.clj"
                       "notebooks/parsing_extensibility.clj"
                       "notebooks/benchmarks.clj"
                       "notebooks/tight_lists.clj"]}}

  :quiet
  {:jvm-opts ["-Dpolyglot.engine.WarnInterpreterOnly=false"]}

  :dev
  {:extra-paths ["dev"]
   :extra-deps {org.babashka/http-client {:mvn/version "0.3.11"}
                org.clojure/test.check {:mvn/version "1.1.1"}
                org.graalvm.js/js {:mvn/version "21.3.2.1"}}}

  :test
  {:extra-paths ["test"]
   :jvm-opts ["-Dclojure.main.report=stderr"]
   :extra-deps {nubank/matcher-combinators {:mvn/version "3.8.3"}}
   :exec-fn test-runner/run}

  :cljs-test
  {:extra-paths ["test"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "2.18.0"}
                nubank/matcher-combinators {:mvn/version "3.8.3"}}}

  :sci
  {:extra-paths ["sci"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]
   :jvm-opts ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"http://localhost:8021/viewer.js\"}"]
   :extra-deps {io.github.nextjournal/clerk.render {:git/url "https://github.com/nextjournal/clerk"
                                                    :git/sha "2f3e141be05a1e66643efa30e707a41862fa8ebe"
                                                    :deps/root "render"}}}

  :build
  {:ns-default build
   :deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
          io.github.slipset/deps-deploy {:git/sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}}}}}
