{:source-paths ["src" "test"]
 :dev-http {8021 "out/sci" 8022 "out/test"}
 :builds
 {:test
  {:target :node-test
   :output-dir "out"
   :output-to "out/node-tests.js"
   :closure-defines {shadow.debug true}
   :js-options {:js-provider :shadow
                :output-feature-set :es8}}

  :browser-test
  {:target :browser-test
   :test-dir "out/test"
   :closure-defines {shadow.debug true}
   :js-options {:output-feature-set :es8}}

  :sci
  {:target :esm
   :runtime :browser
   :output-dir "out/sci"
   :output-to "out/sci/viewer.js"
   :release {:output-dir "public/build/js"}
   :js-options {:output-feature-set :es8}
   :modules {:viewer {:entries [nextjournal.clerk.sci-ext
                                nextjournal.clerk.static-app]}}}}}
